<div class="mt-4 mb-4">
  <nav class="container">
    <div class="logo text-xl font-bold">
      <a href="/static">{{ title or default_title }}</a>
    </div>
    <div>
      <ul class="inline-block">
        {% for link in nav_links %}
          {% if link.url == current_path %}
            <li class="inline-block ml-4 nav-link is-active">
              <a href="{{ link.url }}">{{ link.name }}</a>
            </li>
          {% else %}
            <li class="inline-block ml-4 nav-link">
              <a href="{{ link.url }}">{{ link.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
