{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="mt-4 w-full">
      {% for post in posts %}
        <div class="post">
          <a href={{ post.path }}>
            <div
              class="post__item justify-between items-center py-2 post-link"
            >
              <h2 class="text-xl">{{ post.title }}</h2>
              <span class="text-sm font-normal">{{ post.date }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
