<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or default_title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="{{ url_for('static', filename='index.js') }}"></script>

</head>
<body>
<header>
  <!-- 页头内容 -->
  {# 引入 header #}
  {% include 'nav.html' %}
</header>

<main>
  {% block content %}
  {% endblock %}
</main>

<footer>
  <!-- 页脚内容 -->
  {# 引入 footer #}
  {% include 'footer.html' %}
</footer>
</body>
</html>


