<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or default_title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="{{ url_for('static', filename='index.js') }}"></script>

</head>
<body>
<header>
  <!-- 页头内容 -->
  {# 引入 header #}

  {% if show_nav %}
    {% include 'partials/nav.html' %}
  {% endif %}
</header>

<main>
  {% block content %}
  {% endblock %}
</main>

<footer>
  {% if show_footer %}
    {% include 'partials/footer.html' %}
  {% endif %}
</footer>
</body>
</html>


